<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskBlog</title>
</head>
<body>
   <h1>Welcome to FlaskBlog</h1>

   <div class="container">

    <form method="post">
    
    <!-- <input type="submit" value="Click Me" > -->
		<input type='button'>submit<> 
    
    </form>
    
    </div>


    <script type="text/jsx">

        /*** @jsx React.DOM */
      
        var realPython = React.createClass({
          render: function() {
            return (<h2>Greetings, from Real Python!</h2>);
          }
        });
      
        ReactDOM.render(
          React.createElement(realPython, null),
          document.getElementById('content')
        );
      
      </script>

</body>
</html>